/*
    *  --------------------------------------------------------------------------------------------------------  *
    *  -----  /05-clases-en-es6.scss  --  /src/styles/scss/pages/05-ecmascript-es6/05-clases-en-es6.scss  -----  *
    *  --------------------------------------------------------------------------------------------------------  *
*/

.main__hero {
    width: 100%;
    max-width: 120rem;
    aspect-ratio: 16/9;
    background-image: url('/mis-plugins-spa/spa-loader-content-html-v3/assets/img/05-ecmascript-es6/05-clases-en-es6.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
