<!--
    *  ---------------------------------------------------------------------------------  *
    *  -----  /layout-footer.html  --  /src/components/layouts/layout-footer.html  -----  *
    *  ---------------------------------------------------------------------------------  *
-->

<!--  ----------  Footer  ----------  -->
<footer class="footer__container">

    
    <header class="footer__header">
        
        <img 
            class="header__logo-javascript"
            src="../../../assets/logos/javascript-logo.svg"
            alt="Logo JavaScript"
        >
        
        <h2 class="footer__title"> 
             
            <p id="footerTitle"> 
                <!--  *****  renderizado del título con el plugin  *****  -->
            </p>
        </h2>
        
        <img 
            class="header__logo-javascript"
            src="../../../assets/logos/javascript-logo.svg"
            alt="Logo JavaScript"
        >
        
    </header>

    <div class="footer__separator"> </div>

    <main class="footer__main">

        <ul class="footer__list">
            <h2 class="footer__list-title"> Home </h2>
            <li class="footer__item"> <a href="#" data-id="home" data-route="route-00-home"> Plugin SPA — Inicio </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> Tecnologías Web </h2>
            <li class="footer__item"> <a href="#" data-id="htmlPage" data-route="route-html-page"> HTML5 </a> </li>
            <li class="footer__item"> <a href="#" data-id="cssPage" data-route="route-css-page"> CSS3 </a> </li>
            <li class="footer__item"> <a href="#" data-id="javascriptPage" data-route="route-javascript-page"> JavaScript </a> </li>
            <li class="footer__item"> <a href="#" data-id="jqueryPage" data-route="route-jquery-page"> jQuery </a> </li>
            <li class="footer__item"> <a href="#" data-id="jqueryUiPage" data-route="route-jquery-ui-page"> jQuery UI </a> </li>
        </ul>

    </main>


    <div class="footer__separator"> </div>
    

</footer>