<!--
    *  ---------------------------------------------------------------------------------  *
    *  -----  /layout-footer.html  --  /src/components/layouts/layout-footer.html  -----  *
    *  ---------------------------------------------------------------------------------  *
-->

<!--  ----------  Footer  ----------  -->
<footer class="footer__container">

    
    <header class="footer__header">
        
        <img 
            class="header__logo-typescript"
            src="../../../assets/logos/typescript-logo.svg"
            alt="Logo TypeScript"
        >
        
        <h2 class="footer__title"> 
             
            <p id="footerTitle"> 
                <!--  *****  renderizado del título con el plugin  *****  -->
            </p>
        </h2>
        
        <img 
            class="header__logo-javascript"
            src="../../../assets/logos/javascript-logo.svg"
            alt="Logo JavaScript"
        >
        
    </header>

    <div class="footer__separator"> </div>

    <main class="footer__main">

        <ul class="footer__list">
            <h2 class="footer__list-title"> Home </h2>
            <li class="footer__item"> <a href="#" data-id="home" data-route="route-00-home"> Inicio del Curso </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 1 - Introduccion </h2>
            <li class="footer__item"> <a href="#" data-id="inferirTipos" data-route="route-01-01-inferir-tipos"> 1 - Inferir Tipos </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 2 - Tipos de Datos </h2>
            <li class="footer__item"> <a href="#" data-id="booleans" data-route="route-02-01-booleans"> 1 - Booleans </a> </li>
            <li class="footer__item"> <a href="#" data-id="numbers" data-route="route-02-02-numbers"> 2 - Numbers </a> </li>
            <li class="footer__item"> <a href="#" data-id="strings" data-route="route-02-03-strings"> 3 - Strings </a> </li>
            <li class="footer__item"> <a href="#" data-id="any" data-route="route-02-04-any"> 4 - Any </a> </li>
            <li class="footer__item"> <a href="#" data-id="arrays" data-route="route-02-05-arrays"> 5 - Arrays </a> </li>
            <li class="footer__item"> <a href="#" data-id="tuples" data-route="route-02-06-tuples"> 6 - Tuples </a> </li>
            <li class="footer__item"> <a href="#" data-id="enums" data-route="route-02-07-enums"> 7 - Enums </a> </li>
            <li class="footer__item"> <a href="#" data-id="void" data-route="route-02-08-void"> 8 - Void </a> </li>
            <li class="footer__item"> <a href="#" data-id="never" data-route="route-02-09-never"> 9 - Never </a> </li>
            <li class="footer__item"> <a href="#" data-id="nullUndefined" data-route="route-02-10-undefined"> 10 - Null &amp; Undefined </a> </li>
            <li class="footer__item"> <a href="#" data-id="tareaTiposDeDatos" data-route="route-02-11-tarea-tipos-de-datos"> 11 - Tarea </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 3 - Funciones </h2>
            <li class="footer__item"> <a href="#" data-id="functions" data-route="route-03-01-functions"> 1 - Funciones Basicas </a> </li>
            <li class="footer__item"> <a href="#" data-id="args-required" data-route="route-03-02-args-required"> 2 - Argumentos Requeridos </a> </li>
            <li class="footer__item"> <a href="#" data-id="args-optional" data-route="route-03-03-args-optional"> 3 - Argumentos Opcionales </a> </li>
            <li class="footer__item"> <a href="#" data-id="args-default" data-route="route-03-04-args-default"> 4 - Argumentos por Defecto </a> </li>
            <li class="footer__item"> <a href="#" data-id="args-rest" data-route="route-03-05-args-rest"> 5 - Argumentos Rest </a> </li>
            <li class="footer__item"> <a href="#" data-id="function-type" data-route="route-03-06-function-type"> 6 - Tipo de Funciones </a> </li>
            <li class="footer__item"> <a href="#" data-id="tarea-funciones" data-route="route-03-07-tarea-funciones"> 7 - Tarea de Funciones </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 4 - Objetos </h2>
            <li class="footer__item"> <a href="#" data-id="objects" data-route="route-04-01-objects"> 1 - Objetos </a> </li>
            <li class="footer__item"> <a href="#" data-id="objectsTypes" data-route="route-04-02-objects-types"> 2 - Tipos en Objetos </a> </li>
            <li class="footer__item"> <a href="#" data-id="unionTypes" data-route="route-04-03-union-types"> 3 - Union de Tipos </a> </li>
            <li class="footer__item"> <a href="#" data-id="tareaObjetos" data-route="route-04-04-tarea-objetos"> 4 - Tarea de Objetos </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 5 - EcmaScript 2015 - ES6 </h2>
            <li class="footer__item"> <a href="#" data-id="letVar" data-route="route-05-01-let-var"> 1 - Variables Let y Var </a> </li>
            <li class="footer__item"> <a href="#" data-id="desestObjects" data-route="route-05-02-desestructuring-objects"> 2 - Desestructuracion de Objetos </a> </li>
            <li class="footer__item"> <a href="#" data-id="desestArrays" data-route="route-05-03-desestructuring-arrays"> 3 - Desestructuracion de Arrays </a> </li>
            <li class="footer__item"> <a href="#" data-id="cicloForOf" data-route="route-05-04-ciclo-for-of"> 4 - Ciclo For Of </a> </li>
            <li class="footer__item"> <a href="#" data-id="clasesES6" data-route="route-05-05-clases-en-es6"> 5 - Clases en el ES6 </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 6 - Clases en TypeScripts </h2>
            <li class="footer__item"> <a href="#" data-id="claseBasica" data-route="route-06-01-clase-basica"> 1 - Clase Basica </a> </li>
            <li class="footer__item"> <a href="#" data-id="claseCorta" data-route="route-06-02-clase-forma-corta"> 2 - Clase Forma Corta </a> </li>
            <li class="footer__item"> <a href="#" data-id="metodosPublicosPrivados" data-route="route-06-03-metodos-publicos-privados"> 3 - Metodos Publicos y Privados </a> </li>
            <li class="footer__item"> <a href="#" data-id="herencia" data-route="route-06-04-herencia-super-extends"> 4 - Herencia, Super y Extends </a> </li>
            <li class="footer__item"> <a href="#" data-id="getsSets" data-route="route-06-05-gets-y-sets"> 5 - Gets y Sets </a> </li>
            <li class="footer__item"> <a href="#" data-id="claseAbstract" data-route="route-06-06-clase-abstracta"> 6 - Clase Abstracta </a> </li>
            <li class="footer__item"> <a href="#" data-id="constructoresPrivados" data-route="route-06-07-constructores-privados"> 7 - Constructores Privados </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 7 - Interfaces en TypeScript </h2>
            <li class="footer__item"> <a href="#" data-id="interfacesBasicas" data-route="route-07-01-interfaces-basicas"> 1 - Interfaces Basicas </a> </li>
            <li class="footer__item"> <a href="#" data-id="interfacesComplejas" data-route="route-07-02-interfaces-complejas"> 2 - Interfaces Complejas </a> </li>
            <li class="footer__item"> <a href="#" data-id="interfacesMetodos" data-route="route-07-03-interfaces-metodos"> 3 - Interfaces Metodos </a> </li>
            <li class="footer__item"> <a href="#" data-id="interfacesClases" data-route="route-07-04-interfaces-clases"> 4 - Interfaces en Clases </a> </li>
            <li class="footer__item"> <a href="#" data-id="interfacesFunciones" data-route="route-07-05-interfaces-funciones"> 5 - Interfaces en Funciones </a> </li>
            <li class="footer__item"> <a href="#" data-id="tareaInterfaces" data-route="route-07-06-tarea-interfaces"> 6 - Tarea Interfaces </a> </li>
        </ul>

        <ul class="footer__list">
            <h2 class="footer__list-title"> 8 - Namespaces en TypeScript </h2>
            <li class="footer__item"> <a href="#" data-id="namespaces" data-route="route-08-01-namespaces"> 1 - Namespaces </a> </li>
        </ul>

    </main>


    <div class="footer__separator"> </div>
    

</footer>