/*
    *  -------------------------------------------------------------------------------------------------  *
    *  -----  /02-objects-types.scss  --  /src/styles/scss/pages/04-objetos/02-objects-types.scss  -----  *
    *  -------------------------------------------------------------------------------------------------  *
*/

.main__hero {
    width: 100%;
    max-width: 120rem;
    aspect-ratio: 16/9;
    background-image: url('/mis-plugins-spa/spa-loader-content-html-v3/assets/img/04-objetos/02-tipos-personalizados.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
