/*
    *  ------------------------------------------------------------------------------------------------------------------  *
    *  -----  /02-interfaces-complejas.scss  --  /src/styles/scss/pages/07-interfaces/02-interfaces-complejas.scss  -----  *
    *  ------------------------------------------------------------------------------------------------------------------  *
*/

.main__hero {
    width: 100%;
    max-width: 120rem;
    aspect-ratio: 16/9;
    background-image: url('/plugins/spa-loader-content-html-v3/assets/img/07-interfaces/02-estructuras-complejas.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
