/*
    *  ------------------------------------------------------------------------------------------------------------------  *
    *  -----  /05-interfaces-funciones.scss  --  /src/styles/scss/pages/07-interfaces/05-interfaces-funciones.scss  -----  *
    *  ------------------------------------------------------------------------------------------------------------------  *
*/

.main__hero {
    width: 100%;
    max-width: 120rem;
    aspect-ratio: 16/9;
    background-image: url('/mis-plugins-spa/spa-loader-content-html-v3/assets/img/07-interfaces/05-interfaces-de-funciones.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
